body {
    background: url("../img/back.gif");
    overflow: auto !important; /*To prevent modals from removing scrollbar*/
}

/* Landing page and centering*/
#landing-apps div {
    text-align: center;
    cursor: pointer;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

#landing-apps div:hover {
    z-index: 1;
}

#landing-apps div h5 {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: .02em;
    text-shadow: 1px 1px 4px rgba(0,0,0,.1);
    text-overflow: ellipsis;
}

#landing-apps div a div {
    margin-top: 2em;
}

@media(min-width:993px) {
    #landing-apps > div > div:nth-child(6),#landing-apps > div > div:first-child {
        margin-left: 8.33333%;
    }
}

.box a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    color: #FFF;
}

.box a div {
    width: 100%;
}

.box {
    position:relative;
}

.box:before{
    content: "";
	display: block;
	padding-top: 100%;
}

/*
Wrapping works like this:
<div#landing-apps>   Start insane wrapping
 div box:before      Padding makes hight=width
  <div box>          Relative display to work with other divs/spacings
   <a>               To prevent the content from taking up space in the div, and to keep it filling the container
    <div>            To keep the icon and h5 on top of one another
     content         Finallly~
*/

header .container > div > a:nth-child(4){
    margin-left: 2.5em;
}

header .container > div a img, .side-nav > div > a img {
    padding: 6.5px;
}

svg {
    fill: currentColor;
}

#mobile-nav {
    overflow: hidden;
}

#main-news div{
    padding-bottom: 0px;
}

#modalmail {
    width: 30%;
}

#members .activator, #members .card-reveal span {
    font-size: 21px;
    line-height: 42px;
}

#members .activator i, #members .card-reveal span i {
    margin: 9px 0px;
}

#link .col {
    box-sizing: border-box;
    padding: 0.5rem 2rem;
}

.nav-ul li {
    display:inline;
}

.logo {
    position:absolute;
    width:30%;
    left:35%;
    right:35%;
}

.dropdown-content {
    top: 4em !important; /*Overrides the scripts positioning*/
    width: 17em !important;
}

.dropdown-content .row {
    margin: 1em;
}

.footer-button a {
    position: relative;
    bottom: -47.75px
}

.none {
    padding: 0px !important; /*no padding...duh*/
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

.pagination i {
    padding: 9px 0px;
}