---
permalink: /courses/
layout: page
title: 'Courses'
---

<div id="courses" class="card-panel white z-depth-0">

    <div class="row disclaimer">
        Entries for technical electives may be based on a small number of responses and may not accurately reflect the student experience. Please feel free to add your own tips and experiences with courses <a href="https://docs.google.com/forms/d/e/1FAIpQLSe9pofhUHBjmQWsGI9HNl-Vh9LHeBKbysL7OGGuGUdxwlJHFQ/viewform">on this form</a>! In some cases, where no responses were collected, the course description is based on the official MSE academic calendar.

    </div>

    <div class="row">
    <div class="col s12 m3">
        <ul class="tabs">

            {% for i in (1..4) %}
            <li class="tab col s12 {% if forloop.first %}active{% endif %}"><a href="#tab{{forloop.index}}">Year {{forloop.index}}</a></li>
            {% endfor %}

            <li class="tab col s12"><a href="#tab5">Biomaterials Theme</a></li>
            <li class="tab col s12"><a href="#tab6">Design Theme</a></li>
            <li class="tab col s12"><a href="#tab7">Sustainable Theme</a></li>
            <li class="tab col s12"><a href="#tab8">Manufacturing Theme</a></li>
        </ul>
    </div>
    <div class="col s12 m9">
        {% for i in (1..8) %}
        {% assign iter = forloop.index %}
        <div id="tab{{iter}}" >
            <ul class="collapsible" data-collapsible="accordion">
                {% for j in site.course %}
                {% if iter == j.year %}
                <li>
                    <div class="collapsible-header center"><h5>{{j.title}}</h5></div>
                    <div class="collapsible-body">
                        <div class="course-content card-panel z-depth-0">
                        {{j.content}}
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}        
            </ul>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
