---
permalink: /links/
layout: default
title: 'Useful Links'
---

<div id="link" class="row">
	<ul class="collapsible popout" data-collapsible="accordion">
	{% for s in site.data.links %}
	<li>
    <div class="collapsible-header center">{{s.section}}</div>
	<div class="collapsible-body white"><div class="row">
	{% for l in s.links %}
		<div class="col s12 m6">
		<a href="{{l.link}}">{{l.name}}</a><br />
        {{l.desc}}
        </div>
	{% endfor %}	
	</div></div>
	</li>
	{% endfor %}
	</ul>
</div>