<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="{{ '/img/icon.png' | prepend: site.baseurl }}">
 
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ '/css/materialize.css' | prepend: site.url }}"  media="screen,projection"/>
    <link href="{{ '/css/style.css' | prepend: site.url }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


